body{
    margin-top: 5rem;
    background-color: #f5efe6;
}

.container{
    margin: 0 auto;
}

button{
    background-color: #7ed321;
    color: white;
    
}

/*Home Page*/
#logo{
    width: 115px;
    height: 35px;
}

#photobut{
    padding: 10px; 
    padding-left:25px; 
    padding-right:25px; 
    background: white; 
    display: table; 
    border: solid 1px #b8bec6; 
    border-radius: 5px;
}

#hcontainer{
    background-color: white;
    padding: 2rem;
    display: inline-block;
}

#hheader{
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 1px;
    margin-top: 2px;
}

#htext{
    margin-bottom: 3rem;
}

#hpic{
    display: inline-block;
    height: 340px;
    width: 300px;
}

#hbut{
    margin-bottom: 4rem;
}

.logo{
    width:175px;
    height:50px;
    margin-bottom: 5px;
}

/*Registration, Login & New Post Forms*/
form {
    margin: auto;
    width: 50%;
    border: 1px solid #c6c6c6;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.12),0 2px 4px 0 rgba(0,0,0,0.08);
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    height: auto;
    width: 400px;
    background:white;
    border-radius: 5px;
}

form > div{
    font-weight: bold;
}

#heading{
    padding-top: 80px;
    padding-bottom: 15px;
    margin: auto;
    width: 37%;
    font: cursive;
}

#loginbtn{
    margin-top: 10px;
}

/*Explore Page*/
#econtainer{
    box-shadow: 0 0 0.5em gray;
    margin-bottom: 50px;
    border-radius: 0.3em;
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    width:60rem;
    right: 10rem;
}

#exbut{
    float: right;
}

#exlabel{
    padding-top: 1rem;
    margin-left: 1rem;
}

#exprofpic{
    height: 2rem;
    width: 2rem;
    display: inline-block;
}

#exname{
    font-weight: bold;
    display: inline-block;
}

#expic{
    display: block;
    width:100%;
    height: 20rem;
    background-color: pink;
}

#expic>img{
    height: inherit;
    width: inherit
}

#exbody{
    margin: 20px;
    margin-bottom: 50px
}

#exld{
    margin: 10px;
}

#exlike, #exdate{
    display: inline-block;
    font-weight: bold;
}

#exlike{
    position: relative;
    left: 0px;
}

#exdate{
    float:right;
}

#exheart{
    height: 2rem;
    width: 2rem;
}

/*Profile Page*/
.profile{
    display: grid;
	grid-template-columns: repeat(3, 250px);
	grid-template-rows: repeat(3, 250px);
	grid-auto-rows: 100px;
	grid-gap: 10px;
}

.col{
	width: 200px;
	height: 200px;
}

#pcontainer{
    box-shadow: 0 0 0.5em gray;
    margin-bottom: 50px;
    border-radius: 0.3em;
    background-color: white;
    padding: 2rem;
    width:60rem;
    right: 10rem;
}

#pcontainer>div{
    display: inline-block;
}

#pprofpic{
    height: 8rem;
    width: 8rem;
    margin-right: 3rem;
}

#pstats{
    display: relative;
    float: right;
}